.registration-form {
    padding: $default-gap;
    background-color: $background-color-light;
    margin-top: $default-gap;
}
.registration-form__label {
    text-align: center;
    color: $font-color-dark;
}