$primary: #212121;
$accent: #f22700;

$font-color-light: #fff;
$font-color-medium: #888888;
$font-color-dark: #606060;

$background-color-light: #fff;
$background-color-medium: #f8f8f8;
$background-color-dark: #323232;

$border-input: #ccc;